<?xml version="1.0" encoding="UTF-8"?>
<!-- <web-app> -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0">

<servlet>
	<servlet-name>add</servlet-name>
	<servlet-class>com.ting.AddServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>add</servlet-name>
	<url-pattern>/add</url-pattern>
</servlet-mapping>



<servlet>
	<servlet-name>sq</servlet-name>
	<servlet-class>com.ting.SqServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>sq</servlet-name>
	<url-pattern>/sq</url-pattern>
</servlet-mapping>


</web-app>



